.Login-Title > h1 {
  margin: 12px auto 24px auto !important;
  padding: 0;
  text-align: center;
}

.Login-Form {
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 24px;
  width: 100%;
}

.Login-Container {
  width: 50%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}
